

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

/* Featurettes
-------------------------------------------------- */

.featurette-divider {
  margin: 80px 0px 0px 0px; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

/* Footer styles
-------------------------------------------------- */

#footer {
  position: absolute;
  width: 100%;
  padding : 15px;
  background: #000000;
  color: #EEEEEE;
/*  color overlay
    linear-gradient(
      rgba(0, 0, 0, 0.80),
      rgba(0, 0, 0, 0.45)
    ),
    image to overlay
    url(http://images.cdn.fotopedia.com/_avPIZmqM3w-7z161LH_268-hd.jpg);*/
}


/* Custom footer CSS
-------------------------------------------------- */

.containerf {
  width: 100%;
  padding: 0 15px;
  margin-top:-30px;
}
.text-muted {
  margin: 20px 0;
}
.containerf a {
  text-decoration: none;
  font-size: small;
  color: inherit;
}


.cuadro_intro_hover{
  padding: 0px;
  position: relative;
  overflow: hidden;
  height: 200px;
}
.cuadro_intro_hover:hover .caption{
  opacity: 1;
  transform: translateY(-150px);
  -webkit-transform:translateY(-150px);
  -moz-transform:translateY(-150px);
  -ms-transform:translateY(-150px);
  -o-transform:translateY(-150px);
}
.cuadro_intro_hover img{
  z-index: 4;
}
.cuadro_intro_hover .caption{
  position: absolute;
  top:150px;
  -webkit-transition:all 0.3s ease-in-out;
  -moz-transition:all 0.3s ease-in-out;
  -o-transition:all 0.3s ease-in-out;
  -ms-transition:all 0.3s ease-in-out;
  transition:all 0.3s ease-in-out;
  width: 100%;
}
.cuadro_intro_hover .blur{
  background-color: rgba(0,0,0,0.7);
  height: 300px;
  z-index: 5;
  position: absolute;
  width: 100%;
}
.cuadro_intro_hover .caption-text{
  z-index: 10;
  color: #fff;
  position: absolute;
  height: 300px;
  text-align: center;
  top:-20px;
  width: 100%;
}


/* 404
-------------------------------------------------- */

.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }


/* CONTACT
-------------------------------------------------- */

.contact-form {
    margin-top:90px;
}

.jumbotron {
  background: #358CCE;
  color: #FFF;
  border-radius: 0px;
}
.jumbotron-sm {
  padding-top: 24px;
  padding-bottom: 24px; }
  .jumbotron small {
  color: #FFF;
}
.h1 small {
  font-size: 24px;
}


/* PROFIL
-------------------------------------------------- */

.profile
{
    min-height: 355px;
    display: inline-block;
    }

.profile img
{
    max-height: 150px;
    margin-bottom: 10px;
    }

figcaption.ratings
{
    margin-top:20px;
    }
figcaption.ratings a
{
    color:#f1c40f;
    font-size:11px;
    }
figcaption.ratings a:hover
{
    color:#f39c12;
    text-decoration:none;
    }
.divider
{
    border-top:1px solid rgba(0,0,0,0.1);
    }
.emphasis
{
    border-top: 4px solid transparent;
    }
.emphasis:hover
{
    border-top: 4px solid #1abc9c;
    }
.emphasis h2
{
    margin-bottom:0;
    }
span.tags
{
    background: #1abc9c;
    border-radius: 2px;
    color: #f5f5f5;
    font-weight: bold;
    padding: 2px 4px;
    }
.dropdown-menu
{
    background-color: #34495e;
    box-shadow: none;
    -webkit-box-shadow: none;
    width: 250px;
    margin-left: -125px;
    left: 50%;
    }
.dropdown-menu .divider
{
    background:none;
    }
.dropdown-menu>li>a
{
    color:#f5f5f5;
    }
.dropup .dropdown-menu
{
    margin-bottom:10px;
    }
.dropup .dropdown-menu:before
{
    content: "";
    border-top: 10px solid #34495e;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
    z-index: 10;
  }


/* BLOG POST
-------------------------------------------------- */


ul.posts {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
    border-top: 1px solid #e0e0e0;
}
div.post-tabs ul.posts {
    margin: 0px;
    border-top: none;
}
ul.posts li.post {
    padding: 24px 0px 24px 0px;
    border-bottom: 1px solid #e0e0e0;
}
ul.posts li.post:hover {
    background-color: #f0f0f0;
}
div.post-date {
    float: right;
    padding-right: 20px;
}
div.post-author {
    font-weight: bold;
}
div.post-thumbnail {
    position: absolute;
}
div.post-content {
    margin-left: 48px;
    min-height: 40px;
}
div.post-footer {
    text-align: right;
}

.well2 {
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 19px;
}

.well3 {
    background-color: #358CCE;
    color: #FFFFFF;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 19px;
    width: 80%;
    float: right;
}

/* Service HOME
-------------------------------------------------- */

.lead2 {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
    margin-bottom: 20px;
}

#services .glyphicon {
  border-radius: 50%;
  display: inline-block;
  font-size: 30px;
  color: #FFF;
  height: 100px;
  line-height: 100px;
  text-align: center;
  vertical-align: middle;
  background-color: #358CCE;
  width: 100px;
}