{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Contact{% endblock %}

{% block page_content %}


<div class="jumbotron jumbotron-sm">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h1 class="h1">
                    Contactez-nous <small>Un café, un projet, une envie... n'hésitez pas</small></h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
             <div class="well">
                {{ wtf.quick_form(form) }}</br>
            </div>
        </div>
        <div class="col-md-4">
            <form>
            <legend><span class="glyphicon glyphicon-globe"></span> Nos bureaux</legend>
            <address>
                <strong>Jerome F, Inc.</strong><br>
                795 Folsom Ave, Suite 600<br>
                San Francisco, CA 94107<br>
                <abbr title="Phone">
                    P:</abbr>
                +33 (0)6 51 25 02 66
            </address>
            <address>
                <strong>FOXCOMM</strong> <a href="http://www.foxcomm.fr" target="_blank"> site </a><br>
                <a href="mailto:#">first.last@example.com</a>
            </address>
            </form>
        </div>
    </div>
</div>

{% endblock %}