{% extends "base.html" %}

{% block title %} {{config['FLASKY_MAIL_SUBJECT_PREFIX']}} {% endblock %}

{% block page_content %}

      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>Marketing stuff</h1>
        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus
            commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet.</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Get started today</a></p>
      </div>

    <!-- section - Services -->
<div id="services" class="pad-section">
  <div class="container">
    <h2 class="text-center">Our Services</h2> <hr />
    <div class="row text-center">
      <div class="col-sm-3 col-xs-6">
        <i class="glyphicon glyphicon-cloud"> </i>
        <h2 class="featurette-heading">Service 1</h2>
        <p class="lead2"></p>
      </div>
      <div class="col-sm-3 col-xs-6">
        <i class="glyphicon glyphicon-leaf"> </i>
        <h2 class="featurette-heading">Service 2</h2>
        <p class="lead2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div class="col-sm-3 col-xs-6">
        <i class="glyphicon glyphicon-phone-alt"> </i>
        <h2 class="featurette-heading">Service 3</h2>
        <p class="lead2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div class="col-sm-3 col-xs-6">
        <i class="glyphicon glyphicon-bullhorn"> </i>
        <h2 class="featurette-heading">Service 4</h2>
        <p class="lead2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
  </div>
</div>
<!-- /section - Services -->

      <!-- PUSH DERNIER ARTICLE -->
      <a href="/blog">
          {% if billet %}
          <ul class="posts">
          <li class="post">
            <div class="post-content">
                <div class="post-date">{{ moment(billet.timestamp).fromNow() }}</div>
                <div class="lead2">
                    {{ contenu }}
                </div>
            </div>
          </li>
          </ul>
          {% endif %}
      </a>


      <div class="container marketing">
	<!-- START THE FEATURETTES -->
	<hr class="featurette-divider">
	<div class="row featurette">
	  <div class="col-md-7">
	    <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
	    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
	  </div>
	  <div class="col-md-5">
	    <img class="featurette-image img-responsive" src="{{ url_for('static', filename='img/img_500x500.svg') }}" alt="Generic placeholder image">
	  </div>
	</div>
	<hr class="featurette-divider">
	<div class="row featurette">
	  <div class="col-md-5">
	    <img class="featurette-image img-responsive" src="{{ url_for('static', filename='img/img_500x500.svg') }}" alt="Generic placeholder image">
	  </div>
	  <div class="col-md-7">
	    <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
	    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
	  </div>
	</div>
	<hr class="featurette-divider">
	<div class="row featurette">
	  <div class="col-md-7">
	    <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
	    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
	  </div>
	  <div class="col-md-5">
	    <img class="featurette-image img-responsive" src="{{ url_for('static', filename='img/img_500x500.svg') }}" alt="Generic placeholder image">
	  </div>
	</div>
	<hr class="featurette-divider">
	<!-- /END THE FEATURETTES -->
      </div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ pagedown.include_pagedown() }}
{% endblock %}