{% extends "base.html" %}

{% block title %}{{ config['FLASKY_MAIL_SUBJECT_PREFIX'] }} - {{ user.username }}{% endblock %}

{% block page_content %}

<div class="jumbotron jumbotron-sm">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h1 class="h1">
                    Profil <small> {{user.username}}</small></h1>
            </div>
        </div>
    </div>
</div>


    <div class="row">
	<div class="col-md-12 col-lg-12">
             <div class="well profile">
                <div class="col-sm-12">
                    <div class="col-xs-12 col-sm-8">
                        <h2>{{user.username}} </h2>
                        <p>Nom: <strong>{% if user.name %}{{ user.name }}{% else %} -- {% endif %}</strong></p>
                        <p>Entreprise: <strong>{{user.entreprise}}</strong></p>
                        <p><i class="glyphicon glyphicon-map-marker">
                            {% if user.location %}
                                <a href="http://maps.google.com/?q={{user.location}}">{{user.location}} - {{user.codepostal}}</a>
                            {% endif %}</i>
                        </p>
    <!--                    <p>Skills:
                            <span class="tags">html5</span>
                            <span class="tags">css3</span>
                            <span class="tags">jquery</span>
                            <span class="tags">bootstrap3</span>
                        </p>-->
                    </div>
                    <div class="col-xs-12 col-sm-4 text-center">
                        <figure>
                            <img src="{{ url_for('static', filename='img/default-user-icon-profile.png') }}" alt="" class="img-circle img-responsive">
                        </figure>
                    </div>
                </div>
                <div class="col-xs-12 divider text-center">
                    <div class="col-xs-12 col-sm-4 emphasis">
                        <h2><strong>{{ posts|length }}</strong></h2>
                        <p><small>Support</small></p>

                    </div>

                    <div class="col-xs-12 col-sm-4 emphasis">
                        <h2><strong>&nbsp;</strong></h2>
                        <p><small>&nbsp;</small></p>
                        <div class="btn-group dropup btn-block">
                          <button type="button" class="btn btn-primary">
                              <span class="fa fa-gear"></span> Options
                          </button>
                          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                          </button>
                          <ul class="dropdown-menu text-left" role="menu">
                            <li><a href="{{ url_for('.edit_profile', username=current_user.name) }}"><span class="fa fa-edit pull-right"></span>
                                {% if user == current_user %}
                                    Modifier le profil
                                {% endif %}
                                </a>
                            </li>

                            {% if current_user.is_administrator() %}
                                <li class="divider"></li>
                                <li>
                                    <a href="{{ url_for('.edit_profile_admin', id=user.id) }}">
                                    <span class="fa fa-edit pull-right" style="color:red;"></span>
                                        Modifier profil [ADMIN]
                                    </a>
                                </li>
                            {% endif %}
                          </ul>
                        </div>
                    </div>
                </div>
             </div>
	</div>
	</div>
    </div>
{% endblock %}